@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
body {
    font-size: 14px;
    /*width: 100vw;*/
    /*height: 100vh;*/
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: teal; */
    /* background-color: #7b917b; */
    background-image: linear-gradient(#47FFFF, #FF85F9 );
    background-position: top;

    /* background-image: url('/img/bg1.jpeg'); */
    background-image: url('https://i.ibb.co/3rSwMQh/9634c84aee630758edb218053d8f04e7.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
}
pre {
    height: 20vh;
    width: 20vw;
    padding: 1rem;
    border: 1rem dashed #2778f6;
    background-clip: border-box;
    background-color: yellow;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: 900;
    color:orangered;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: yellow;
    font-family: 'Kirang Haerang', cursive;
    margin-bottom: 0rem;
}
.content {
    height: 100vh;
    /* max-width: 450px; */
    width: 30vw;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.discribe {
    margin-top: 0rem;
    font-family: 'Kirang Haerang', cursive;
    color: white;
    font-size: 2rem;
    line-height: 1.2;
}